<h1>calculate monthly payment</h1>

<form action="/payment/results">
  <label for="form_APR_number">Enter a APR</label>
  <input id="form_APR_number" type="text" name="form_APR_number">  
  <label for="form_Years_number">Number of years</label>
  <input id="form_Years_number" type="text" name="form_Years_number">
  <label for="form_PV_number">Principal</label>
  <input id="form_PV_number" type="text" name="form_PV_number">
  <button>Calculate monthly payment</button>
</form>
