<h1>calculate the square of a number</h1>

<form action="/square/results">
  <label for="form_first_number">Enter a number</label>

  <input id="form_first_number" type="text" name="form_first_number">

  <button>Calculate square</button>
</form>
